html {
    /* To make use of full height of page*/
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
    margin: 0;
}

body {
    font-family: monospace;
    text-align: center;
     background: linear-gradient(to right, rgb(235, 139, 104),#3c7981);
     height: 100%;
    display: grid;
    justify-items: center;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(245, 245, 245, 0.349);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;

    display: block;
    align-items: center;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    color: #423d3d;
    position: absolute;
    top: 0;
    right: 140px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .2s;
    padding: 12px;
    position: absolute;
  }

  #main span {
    font-size: 32px;
    cursor: pointer;
    font-weight: bolder;
    color: #5c5b5b;
    transition: 0.2s ease-in-out, 
                    transform 0.3s ease;
 }
 
 #main span:hover {
    color: white;
    transition: opacity .2s;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .user-picks {
      display: grid;
      align-items: center;
      justify-content: center;
  }

  #first, #second, #third, #fourth, #fifth, #sixth, #seventh, #eighth, #ninth {
      height: 65px;
      width: 105px;
      border: 1px solid rgb(99, 99, 99);
      text-align: center;
      cursor: pointer;
  }

  #first {
    background: radial-gradient(circle, #0fd6f0, #5242cd)
  }

  #second {
    background: radial-gradient(circle, #eec47c, #cd42c8)
  }

  #third {
    background: linear-gradient(to right, #981aff, #ea5353)
  }

  #fourth {
    background: linear-gradient(360deg, #c606e7, #aa6f69)
  }

  #fifth {
    background: linear-gradient(360deg, #811aff, #20546f)
  }

  #sixth {
    background: radial-gradient(circle at 50% center, #51b1b4, #e436cf, #fa5961)
  }

  #seventh {
    background: radial-gradient(circle at 50% center, #f64646, #23398b, #0c114f)
  }

  #eighth {
    background: radial-gradient(circle at 50% center, #700ead, #9f2c89, #1f3169)
  }

  #ninth {
    background: radial-gradient(circle, #ec5153, #8e7af0)
  }

  /* #radio-options {
    background: rgb(218 218 218 / 73%);
    border: solid 2px rgb(141, 136, 136);
    width: 200px;
    padding-right: 5px;
  } */


#radio-options label {
   font-size: larger;
   font-weight: bolder;

   transition: 0.3s ease-in-out, 
                    transform 0.3s ease;
}

#radio-options label:hover {
   color: white;
   transition: opacity .3s;
 }

#grad-angle {
    background: rgb(245 245 245 / 67%);
    border: solid 2px rgb(141, 136, 136);
    width: 125px;
    padding: 3px;
    margin-bottom: 0;
    margin-left: 4px;
}
.radial-options {
   display: none;
}

#checkbox {
    /* display: inline-block; */
    height: 20px;
    width: 20px;
    border: solid rgb(110, 131, 138) 2px;
    margin-bottom: 0;
    margin-top: 0;
  }

  #checkbox:hover {
      cursor: pointer;
  }

#options-para {
    background: rgb(245 245 245 / 67%);
    border: solid 2px rgb(141, 136, 136);
    width: 125px;
    padding: 3px;
    margin-bottom: 3px;
}
.copy-clip{
    margin: 35px;
    margin-top: 40px;
    background-color: rgba(245, 245, 245, 0.5);
     border-radius:0.12em;
     box-sizing: border-box;
     text-decoration:none;
     color:#FFFFFF;
    /*  transition: all 0.2s; */
    }

    h2 {
        background: rgba(245, 245, 245, 0.7);
        border: solid 2px rgb(141, 136, 136);
        width: 190px;
        padding: 4px;
        margin-bottom: 0;

        height: 38px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h3 {
        text-align: center;
        padding: 4px;

        background: rgba(245, 245, 245, 0.7);
        width: 340px;
        border: 2px solid rgb(141, 136, 136);

        height: 75px;
        display: flex;
        text-align: center;
        align-items: center;
        margin-top: 5px;
    }

    #color1, #color2 {
        display: inline-block;
    }

    .col3 {
        margin-top: 5px;
        position: relative;
        left: 65px;
    }

    .percent-col3 {
      position: relative;
      bottom: -30px;
      right: 30px;
    }

    .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 20px;
        background: #b9b9b9;
        outline: none;
        opacity: 0.8;
        -webkit-transition: .2s;
        transition: opacity .2s;
      }
      
      .slider:hover {
        opacity: 1;
      }
      
      .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        background: #4c5eaf;
        cursor: pointer;
      }
      
      .slider::-moz-range-thumb {
        width: 20px;
        height: 20px;
        background: #4c5eaf;
        cursor: pointer;
      }

    /* #space {
        height: 30px;
    } */

    button {
        display: inline-block;
        border: none;
        padding: 1rem 1rem;
        margin: 0;
        text-decoration: none;
        background: #0069ed;
        color: rgb(68, 56, 56);
        font-family: monospace;
        font-size: .8rem;
        cursor: pointer;
        text-align: center;
        transition: background 250ms ease-in-out, 
                    transform 150ms ease;
        -webkit-appearance: none;
        -moz-appearance: none;

        background-color: rgba(245, 245, 245, 0.5);
    }
    
    button:hover,
    button:focus {
        background: #1375ece3;
    }
    
    button:focus {
        outline: 1px solid rgb(161, 184, 179);
        outline-offset: -4px;
    }
    
    button:active {
        transform: scale(0.99);
    }